@mixin border-radius($border-radius: 8px) {
    border-radius: $border-radius;
}
@mixin margin($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
    margin: $top $right $bottom $left;
}
@mixin padding($top: 0px, $right: 0px, $bottom: 0px, $left: 0px) {
    padding: $top $right $bottom $left;
}